[2020-07-31 07:16] okuramasafumi opened #9 "New option: Overwriting behavior"
# Abstract

Code like
[code]
overwrites an attribute `name` with `'bar'` although a user might want to define simple attribute with `attributes`. Maybe they misspelled it.
If Alba can warn this kind of overwriting, it'll help users to avoid unintentional overwriting.

# Considered Interface

[code]

# Problems

When they overwrite attributes with inheritance:
[code]
This should be fine.
Current im

[2020-08-06 09:43] okuramasafumi commented on #9
I changed my mind. They can easily `grep` the source code and check the duplication in the same class. When a subclass overwrites an attribute, that could be intentional. The gem doesn't have to check it.

[2020-08-06 09:43] #9 closed

[2020-09-16 18:24] bcotteret opened #28 "Question about Resource / Serializer, can you provide some examples ?"
Hi,
I can't figure out how to implement the serializer class
I understand the ressource, but how look like the Serializer class ?

Here is what my serializer from AMS

[code]

and in controller
I would like to use with metadata pagination  [Pagy](https://ddnexus.github.io/pagy/extras/metadata)

[code]
How would you advise me using Alba in this case ?
Thanks

[2020-09-18 13:27] okuramasafumi commented on #28
It's kind of confusing, but in Alba, `Resource` class is responsible for converting objects into a Hash, and `Serializer` is responsible for dumping actual JSON string with some modification like key and metadata.
For now, please take a look at `test` directory and there are many working examples. I'll add more examples later.

For pagination, Alba doesn't provide a support for `pagy` gem or other

[2020-09-18 16:25] bcotteret commented on #28
Hi @okuramasafumi,
Thanks for your comments
Sure, I'll have a depper look at your examples and code
Keep the good work, Alba looks as a good fit for me

[2020-09-18 16:25] #28 closed

[2021-01-20 14:53] Shigeyuki-fukuda opened #66 "Feature Request: Case options"
## Summary

When we use Rails as an API, we want to return JSON, not HTML.
In that case, we may want to make it a camel case.
It would be nice to have an option to handle those situations.

## Example

In the case of `gem 'jsonapi-serializer'`, we can specify the cases as follows.

[code]

## Expected DSL

[code]

[2021-01-22 12:21] okuramasafumi commented on #66
Implemented with 63f9b89ccc7003bd3d4dab5a875d8db8058ac989

[2021-01-22 12:21] #66 closed

[2021-04-03 13:38] SathishAchilles opened #87 "Allow conditionals on attribute"
Hi,

thanks for the hard work on the Gem,
I would like to have the `attribute` accept conditionals to decide if that key could even be rendered.
Conditional Attributes are supported in `ActiveModel::Serializer` https://github.com/rails-api/active_model_serializers/tree/0-8-stable#attributes

for example, something like
[code]

now the resulting hash would be
1. if resource has name
[code]
2. if re

[2021-04-03 13:41] okuramasafumi commented on #87
This is the feature I thought I'd like to implement next.
I wonder if we really need `unless` option though. `if` option do the same thing and in my opinion `if` is more readable than `unless` in general.
What do you think?

[2021-04-03 16:28] okuramasafumi commented on #87
After implementing conditional attributes in #88, I realized that we can filter attributes based on Hash, not `if` options, described in https://github.com/okuramasafumi/alba/blob/master/README.md#filtering-attributes
This way is a bit tricky using Proc composition and `if` option looks more intuitive, but works well for some cases (eg. filtering all blank attributes).

[2021-04-03 17:40] SathishAchilles commented on #87
actually, following KISS here, I am happy with any conditional argument be it `if` or `unless` ..

[2021-04-03 17:44] SathishAchilles commented on #87
using `filtering-attributes` would look clumsy when I would want to have custom logic for different attributes.. but I agree that, it is a well thought approach when we have a universal logic to filter out keys for a resource just like your example.. But not always that is the case..

[2021-04-04 12:52] okuramasafumi commented on #87
True, and it's a procedural approach that is against the declarative philosophy of Alba. So we'll prefer `if` option to overriding `converter` in most cases.

[2021-04-04 13:14] okuramasafumi opened #89 "Logging"
It's a good idea to provide logging facility for performance monitoring or debugging.
It might be even better to provide `around` hook for some methods so that users can do something (logging in this context but various things can be done) before and after the targeted methods.

[2021-04-04 15:11] okuramasafumi opened #90 "Dealing with circular associations"
Consider this case.

[code]

Notice that associations is circular. Under current implementation, this causes `SystemStackError` due to infinite loop.

We want this to be valid usecase. For example, "a book's authors' books" is meaningful. In contrast, however, "a book's authors' books' authors' books" usually doesn't make sense.
That said, when the same resource appears more than three times, it t

[2021-04-04 15:14] okuramasafumi commented on #87
Closed by #88 , thanks @SathishAchilles !

[2021-04-04 15:14] #87 closed

[2021-04-04 18:18] SathishAchilles commented on #87
thanks for the quick response .. BTW I would love this https://github.com/okuramasafumi/alba/pull/75

[2021-04-04 18:26] SathishAchilles commented on #87
BTW, could you please release this?

[2021-04-04 19:24] SathishAchilles opened #91 "Conditional Attribute should not call the block on failed conditions"
For example,
[code]

Here, if we the conditionals fail it still executes the block and causes unexpected behavior
[code]

the only workaround is to repeat the conditional check within the block :(

[2021-04-05 06:21] okuramasafumi commented on #91
I see, so you'd like to suppress attribute's body block call when if condition doesn't match.
It's possible by checking the arity of if block. If there's only one parameter it means we DON'T want to call attribute's body block. If there are more than one, it means we want to get the result of the attribute.

[2021-04-05 17:16] okuramasafumi commented on #91
#92 will resolve this.

[2021-04-06 08:10] okuramasafumi commented on #87
I'll release version 1.0 finally in this week!

[2021-04-07 07:56] #91 closed

[2021-04-09 02:58] okuramasafumi opened #94 "Alba should work on JRuby"
We'd like to run CI against JRuby.

[2021-04-09 03:30] #94 closed

[2021-04-13 15:07] okuramasafumi opened #98 "Add migration documents"
Lots of users can migrate their app from anything to Alba easily with migration documents.
For example, [Shrine](https://shrinerb.com) has comprehensive documentation for migration from a few libraries such as carrierwave. See https://shrinerb.com/docs/carrierwave
Direct migration targets are [ActiveModelSerializers](https://github.com/rails-api/active_model_serializers) and [jbuilder](https://git

[2021-04-16 07:55] alexandru-calinoiu opened #104 "Why not json:api?"
The library looks flexible enough so adding support in my app for json:api with this gem should be trivial, was wondering if there is a deeper reason on why not supporting it, or is simply that you want to keep this gem nice and clean?

[2021-04-16 08:43] okuramasafumi commented on #104
There are a few reasons, but the biggest one is the fact that there are so many gems out there such as [jsonapi-serializers](https://github.com/jsonapi-serializer/jsonapi-serializer) and [jsonapi-resources](https://github.com/cerebris/jsonapi-resources).
I don't think Alba has an advantage over them right now. Personally I'm interested in implementing support for JSON:API, but if the result is not

[2021-04-16 09:16] alex-lairan opened #105 "Alba and Dependency Injections"
Hi,

I would like to use Alba on my app, however I am using dependency injection to play with my controllers (thanks https://dry-rb.org/gems/dry-auto_inject/0.6/ )

This gem assumes that the serializer should know about the resources it has to serialize on the initialization phase.
This breaks the possibility to use dependency injection, and so to use the serializer as an external dependency.

The

[2021-04-16 09:56] okuramasafumi commented on #105
Thanks for the idea, I'll try to introduce Alba to your example.

[2021-04-16 11:57] okuramasafumi opened #106 "New backend: oj_rails"
`Oj` has [modes](https://github.com/ohler55/oj/blob/develop/pages/Modes.md) and many people will want to use `rails` mode. We should support it directly with `oj_rails` backend.
Current `oj` backend will be aliased as `oj_strict`.
If someone needs to use `object` or `compat` mode of oj, we'll consider supporting them too!

[2021-04-16 12:19] okuramasafumi commented on #105
I didn't know anything about DI, but now I know a bit of it. So, it registers `MySerializer.new` automatically, but there's no argument so an error occurs.
https://github.com/okuramasafumi/GoldivoreBack/tree/introduce-alba
In the branch above, I managed to make it work with Alba. I'm new to Hanami so I put the serializer code in the container file, which should be a bad idea. Also, the form of the

[2021-04-16 12:55] okuramasafumi opened #107 "Different style of collection serialization"
Alba currently serializes a collection into an Array:

[code]

However, sometimes we want to serialize a collection into a Hash with a certain key. The interface will be like:

[code]

With `collection_key`, we can specify the key for the Hash. Now `UserResource` will serialize a collection differently.

[code]

This way, Alba provides more flexible way to deal with collections.

[2021-04-16 17:05] okuramasafumi opened #108 "Support params in conditional attributes"

[2021-04-16 22:46] mediafinger commented on #104
I do agree with @okuramasafumi. And somewhat related I've opened a PR to add **jsonapi-serializers** to the benchmark, in case you wonder how it compares speed wise with **alba**: https://github.com/okuramasafumi/alba/pull/109

[2021-04-17 13:06] okuramasafumi commented on #104
If Alba supports JSON:API, it becomes easier to implement different styles of APIs (JSON:API compatible one and flat one) with only Alba. This could be a killer feature for some.

The interface would be something like:

[code]

[2021-04-22 12:50] #90 closed

[2021-04-22 18:48] okuramasafumi commented on #106
I changed my mind. Most people will use `rails` mode only. Then what we should do is to add new backend, `:oj_rails`.

[2021-04-23 09:37] #106 closed

[2021-05-01 12:54] okuramasafumi opened #118 "Validation with type and auto-conversion"
## Is your feature request related to a problem? Please describe.

We sometimes want to validate input data with types. We also want to convert data with the specified type if types mismatch.

## Describe the solution you'd like

[code]

In the code above, `attributes` takes arbitrary number of `Symbol`s and `Hash`es. If Hash argument is included, it's interpreted as "attributes with types".
Hash

[2021-05-09 13:30] #118 closed

[2021-05-11 06:43] wuarmin opened #123 "Be able to plugin a custom inflector"
Hey,

great gem!

## Is your feature request related to a problem? Please describe.
If you need key transformation, but there's no active_support around, you have to create workarounds to achieve key-transformation. It would be great, if we could add the possibility to plugin a custom **inflector**. For example, I have a "hanami-api-dry-project" and there the [dry-inflector](https://github.com/dry

[2021-05-11 09:27] okuramasafumi commented on #123
Hi, thanks for the proposal! It would be nice if we had a swappable backend for key transformation.
Are you interested in implementing this feature by yourself?

[2021-05-11 16:17] wuarmin commented on #123
Hi,
great! Yes of course I can do that.

[2021-05-11 16:22] okuramasafumi commented on #123
@wuarmin Cool! Looking forward to your Pull Request!

[2021-05-13 19:23] wuarmin commented on #105
Hey @alex-lairan,
you could create a bootable dry-dependency, which injects all alba resource instances into your container. Then you can achieve dependency injection. If you are interested, I could show you an example of that.

Best regards

[2021-05-15 11:41] #123 closed

[2021-05-29 15:30] okuramasafumi commented on #105
@alex-lairan Hi, are you satisfied with @wuarmin 's solution? If so I'll close this issue, if not please tell us why.

[2021-05-30 12:52] #108 closed

[2021-06-01 08:11] mjobin-mdsol opened #131 "Equivalent when I don't know the model/serializer at play?"
I am looking for an AMS equivalent to

[code]
basically, I don't know what object `local_instance` is and what serializer class I should be using. AMS does that for me automatically.

Thank you

[2021-06-03 15:47] okuramasafumi commented on #131
Hi @mjobin-mdsol I created a PR at #132 which I believe solves your problem. Please take a look at it :)

[2021-06-04 04:24] okuramasafumi opened #133 "Meta data support"
## Is your feature request related to a problem? Please describe.

We need some form of support for meta data alongside the main (serialized) data.

## Describe the solution you'd like

[code]

## Describe alternatives you've considered

In this proposal the return value of `meta` block is a Hash and it's used directly. I'm not sure if we're happy to use some sort of DSL in `meta` block to build a

[2021-06-07 12:40] #131 closed

[2021-06-07 12:41] okuramasafumi commented on #131
Hi @mjobin-mdsol I merged #132 to resolve this issue. I like the idea.

[2021-06-10 14:04] alex-lairan commented on #105
It could, but are the resources auto-loaded?

This is a pain point to add manually a class to the container each time you create another one.

[2021-06-10 14:15] alex-lairan commented on #105
@wuarmin nice.
I will try something for my app this weekend and I will share it here.

I don't use Hanami::Utils because it uses deprecated gems.

To be sure, `Hanami::Utils.require!` is the same as `Dir[path].each { require &1 }` ?

[2021-06-10 14:18] wuarmin commented on #105
@alex-lairan
Yes it's the same!

[2021-06-24 13:11] alex-lairan commented on #105
Thanks for your help, I will move my handcrafted serializers into Alba ones ;)

Have a nice day.

[2021-06-24 13:11] #105 closed

[2021-06-28 00:41] tashirosota opened #139 "Want `resource:` and `each_resources:` option to Alba.serialize like ActiveModelSerializers `serializer:` and `each_serializers:`"
## Is your feature request related to a problem? Please describe.
Model has many serializers in many cases.I want to select resources class.

[code]

## Describe the solution you'd like
[code]

[2021-06-30 07:15] #133 closed

[2021-06-30 08:28] okuramasafumi commented on #139
If we know what resource to use, we can simply call `Resource#serialize`. In your case, instead of

[code]

we can

[code]

Isn't this enough?

[2021-07-03 16:27] pedrofurtado opened #144 "How to migrate from Netflix/FastJsonApi to Alba?"
@okuramasafumi Hi! 👋

Thanks for this awesome gem 👍 🏆

How to migrate from Netflix/FastJsonApi to Alba?

[2021-07-03 16:32] pedrofurtado opened #145 "Rubydoc page is not available (503 error)"
@okuramasafumi Hi! 👋

The rubydoc gem page ( https://rubydoc.info/github/okuramasafumi/alba ) is down, with a 503 error 👍

[2021-07-03 16:34] okuramasafumi commented on #144
Hi, `fast_jsonapi` is a gem for JSON:API spec, which Alba currently doesn't support.
I'm planning to support it in the future release of Alba (see #104), so after implementing that we can write a document for migrating from `fast_jsonapi` or other JSON:API compatible gems to Alba.

[2021-07-03 17:09] #144 closed

[2021-07-03 17:14] okuramasafumi commented on #145
Hi, it looks like the problem of rubydoc site since other pages are also down.
I think rubydoc site is pretty unstable :(

[2021-07-03 17:14] #145 closed

[2021-07-03 17:32] pedrofurtado opened #146 "How to serialize a "belongs_to" association?"

[2021-07-03 18:03] pedrofurtado opened #147 "Thanks for this gem"
@okuramasafumi Hi again! 😄 👋

I just want to say thanks for your work on this gem. We was using the netflix/fast_json_api, and the only well-maintained gem that we found was yours. The other are abbandoned, or not stable.

🍻 🤝

[2021-07-03 18:03] #146 closed

[2021-07-06 02:15] mjobin-mdsol opened #149 "default value when nil"
## Is your feature request related to a problem?
my previous serializer was converting nil values to an empty string.
I was wondering if Alba had a way to set this behavior ?

## Describe the solution you'd like

[code]

## Describe alternatives you've considered
right now, I think I need to implement each attributes individually to convert, or change the output response to return nil.
But It's ha

[2021-07-06 12:55] okuramasafumi commented on #149
I've thought using separate `attribute` method for nullable attributes. However, I have to admit that it's hard to read and write when there are many nullable attributes.

I wrote some code to implement this feature at #150 so could you please take a look at it?

[2021-07-09 12:59] okuramasafumi commented on #149
@mjobin-mdsol Sorry I forgot to mention you. Could you check my implementation at #150 ?

[2021-07-13 12:20] tashirosota commented on #139
@okuramasafumi
It's enough！ Thanks!

[2021-07-13 13:11] #139 closed

[2021-07-14 04:24] mjobin-mdsol opened #152 "possible to refactor this attribute to use a symbol ?"
works fine, I'd like to write it to be easier to read it

current code

[code]

## Describe the solution you'd like
We need to call `respond_to?` because the attribute comes from a joined relation, which is not always present when calling this serializer.
then we don't want to include the field in the json when its nil, thus using the `if: proc`

if we could write it such as

[code]
is this alread

[2021-07-15 13:53] ashelangovan opened #153 "Inconsistent behaviour in collection serialization"
Hi,

I was trying to serialize a collection and facing errors if attributes are used inside a block. Is this the expected behaviour?

Thanks.

## To Reproduce
[code]

## Expected Behaviour

`"{\"id\":1,\"articles\":[{\"dummy_title\":\"Hello World!\"},{\"dummy_title\":\"Super nice\"}]}" `

## Actual Behaviour

[code]
## Environment
- Ruby version:  2.6.1

[2021-07-16 03:21] okuramasafumi commented on #153
Hi, I tried to reproduce it but I couldn't.
Maybe you wrote the code like this?

[code]

`object` in `attribute` block refers underlying (serialized) object, so it's articles in this case. You can use `resource` (block argument) instead to correctly serialize collections.

[2021-07-16 03:35] okuramasafumi commented on #152
Hi, using symbol as a method name in `if` option is not supported right now. It's good for readability so I think Alba should support it.

[2021-07-31 23:59] saiqulhaq opened #154 "AR::Relation has updated their cache_key_with_version when collection is updated"
Have you take a look at this PR https://github.com/wbotelhos/rails/commit/1d2a08ee77c03a45fbcd6af10795e305aad6eb9e ?
so this statement (https://github.com/okuramasafumi/alba/blame/main/README.md#L672) is it still relevant?
does caching feature work?

[2021-08-01 11:46] okuramasafumi commented on #154
You mean https://github.com/rails/rails/pull/41789 ?
This isn't shipped yet, so after it's released I'll reconsider.

[2021-08-01 11:55] saiqulhaq commented on #154
ok thanks

[2021-08-01 11:55] #154 closed

[2021-08-02 13:38] stas commented on #104
Hi there,
I'm the maintainer of the `jsonapi-serializer` and a bunch of other JSONAPI related gems. I got here because of the https://github.com/Netflix/fast_jsonapi/issues/477

Unfortunately I could not find any reference on how to configure this gem to generate JSONAPI payload, but more importantly, I'd prefer to not have `jsonapi-serializer` listed as part of your benchmarks #109 since the comp

[2021-08-02 13:56] okuramasafumi commented on #104
Hi, I'd like to mention a few things.
It's absolutely fine to remove `jsonapi-serializer` from the benchmark, but what do you think about using it to generate non-jsonapi style output? I guess it's not a standard way to use the gem, but it works.
Currently we don't have a way to output JSONAPI compatible JSON with Alba. I'm going to implement the feature in near future.

[2021-08-02 14:05] stas commented on #104
Please proceed.

JSONAPI was not designed and not optimized to generate some other specs. The goal of the project is to produce a valid JSONAPI spec and be as fast as possible at it.

This project is claiming that it is:

And then you claim you provide support for JSONAPI, but you don't. Next, folks recommend switching away from `fast_jsonapi` to your project, and this is just all confusing (as it

[2021-08-02 19:20] jgaskins commented on #104
@stas

The way these two are presented, it appears they are meant to be related arguments, but unless I'm misunderstanding I don't believe they are.

Where do you see the claim that it supports JSON:API? I see a few places where it says it doesn't and explains why, but I don't see anything that says it does.

Are there others mentioning it outside of [this comment](https://github.com/Netflix/fast_

[2021-08-02 20:53] stas commented on #104
@jgaskins thanks for sharing. I already said I have no problem keeping things the way they are, as long as it's clarified this is not JSONAPI spec.

I appreciate everyone sharing their opinions, but this is merely a request to clarify things and remove any confusions.

@okuramasafumi apologies for the noise raised by my comment. I'll stop entertaining this topic, since I think we already have at l

[2021-10-27 17:26] okuramasafumi opened #158 "Layout feature"
Discussed in the discussions board, now I believe supporting layout is something we'd like to have with Alba. The user code would look like:

[code]

And the layout file would be a JSON text file with erb:

[code]

where `resource` would be `Alba::Resource` object.

### Discussed in https://github.com/okuramasafumi/alba/discussions/142

<div type='discussions-op-text'>

<sup>Originally posted by *

[2021-10-27 17:32] okuramasafumi opened #159 "Auto pluck for ActiveRecord"
## Is your feature request related to a problem? Please describe.

Using `pluck` for performance is a common technique in Rails, but Alba doesn't support `pluck` so we must fetch all columns although we might not use it.

## Describe the solution you'd like

[code]

[2021-10-30 12:42] okuramasafumi commented on #98
Closed by #143 #151

[2021-10-30 12:42] #98 closed

[2021-11-02 10:19] sagarkt opened #162 "Where to keep Configurations?"
I am going to try this gem. As a suggestion, here it is not clear where to add the configurations. I am currently moving ahead with creation of the initialize. Maybe docs can be improved further to guide this.

https://github.com/okuramasafumi/alba/blob/0c6f24babd16ada6d45f658747dbbbba5fe1e946/README.md?plain=1#L100

[2021-11-05 12:49] okuramasafumi commented on #162
In Rails application, you can have your configurations in `config/initializers`.
I didn't mention it in README because it's so obvious to Rails developers. In Sinatra or Hanami, the config location is different but I don't want to cover them all in README. Patches are welcome!

[2021-11-05 12:49] #162 closed

[2021-11-20 08:35] #158 closed

[2021-11-20 09:24] #152 closed

[2021-12-01 07:27] Samemura opened #169 "Is it ok to add rake command for rails installation ?"
## Is your feature request related to a problem? Please describe.
Feature request.
I am using Alba with Rails then thought will be happy if we have rake command to install to rails.

## Describe the solution you'd like
Add rake command to install alba setting(like initializer), alba resource file template.
Or it could be done by rails generate command.

[2021-12-01 13:33] okuramasafumi commented on #169
What do you think should Alba provide as an install command? Obviously an initializer file, but what else?

[2022-02-25 01:25] okuramasafumi commented on #169
@Samemura I'm closing this issue since "installing" Alba to Rails is just writing a few lines of initializer so I think we don't need Rake task.
Pull Request is welcome!

[2022-02-25 01:25] #169 closed

[2022-02-27 10:56] okuramasafumi opened #179 "Support for `Oj::StringWriter`"
## Is your feature request related to a problem? Please describe.

Alba can get more performance boost with streaming encoder as [panko](https://github.com/panko-serializer/panko_serializer) does.

## Describe the solution you'd like

Implement `Oj::StringWriter` support.

## Additional context

I tried but it was hard enough to make it work. The programming style is quite different. If you're con

[2022-02-27 11:03] okuramasafumi commented on #159
I tried but somehow the performance got much worse.

With `many` and `one` association, we cannot use `pluck` but need to use `select` instead. If there is not association in the resource, we might be able to use `pluck` and repack the returned array into the `Struct` so that we can call `public_send` to it.

[2022-02-27 14:37] okuramasafumi commented on #159
OK, it turned out that using `pluck` doesn't make Alba faster. In fact, it makes Alba slower! I cannot dig into this problem, but I conclude it's fast enough already.

[2022-02-27 14:37] #159 closed

[2022-03-02 14:42] okuramasafumi opened #182 "Support attribute method in resource"
## Is your feature request related to a problem? Please describe.

Sometimes we'd like to have a method as an attribute. For example, consider this example from README.

[code]

## Describe the solution you'd like

[code]

Here we define `name_with_email` as a method, not a block. This is useful when we want this method to be inherited.

## Describe alternatives you've considered

We can leave it

[2022-03-05 17:19] #182 closed

[2022-03-17 23:53] bkuhlmann opened #193 "Add README benchmarks"
## Is your feature request related to a problem? Please describe.

Would it be possible to include the benchmarks as part of the README so you can showcase more of the CPU and memory performance more easily? I think these benchmarks are super helpful and would be nice to be more accessible for folks.

## Describe the solution you'd like

Two ideas some to mind:

- Add a Benchmarks section to the R

[2022-03-24 10:59] okuramasafumi commented on #193
Hmm, maybe `README` in `benchmark` directory is enough? I'm afraid adding benchmark result to README makes it a bit too long.

[2022-03-24 12:57] bkuhlmann commented on #193
Yeah, that'd be a good and valuable compromise.

[2022-03-24 15:03] okuramasafumi commented on #193
@bkuhlmann Hi I just added README for benchmark!
https://github.com/okuramasafumi/alba/blob/main/benchmark/README.md

[2022-03-24 17:40] bkuhlmann commented on #193
Yeah, wow, those are really nice. Thanks, this is perfect!

[2022-03-24 17:42] bkuhlmann commented on #193
ℹ️ Closing since this issue is resolved due to the changes mentioned above.

[2022-03-24 17:42] #193 closed

[2022-03-29 07:29] okuramasafumi opened #195 "`root_key_for_collection` DSL"
## Is your feature request related to a problem? Please describe.

When setting a root key only for collection, it looks like this:

[code]

Here, the first `:_` looks ugly but required.

## Describe the solution you'd like

[code]

## Describe alternatives you've considered

None.

## Additional context

This is the real problem in my client work :)

[2022-05-08 08:44] heka1024 commented on #195
Hello, @okuramasafumi. I would like to contribute to this. Can I work on this issue?

[2022-05-08 08:45] okuramasafumi commented on #195
Hi @heka1024 absolutely, go ahead! If you need help, please let me know.

[2022-05-08 12:45] heka1024 commented on #107
Was there an issue about PR#119? I' think that PR should close this.

[2022-05-08 13:12] okuramasafumi commented on #107
Oh I closed that because `to_h` with block is not supported in Ruby 2.5 and 2.6, and at that time Alba supported them.
Now that Alba supports Ruby 2.7 and above that implements `to_h` with block, it's worth salvaging the code.

[2022-05-08 14:05] #195 closed

[2022-05-09 21:00] swilgosz commented on #104
+1 for JSON:API support

[2022-05-10 19:47] choosen commented on #147
you can migrate to community driven fork: https://github.com/jsonapi-serializer/jsonapi-serializer

[2022-05-12 01:43] kapso opened #205 "Rails integration"
In a rails project, where should we create `*Resource` objects?

We are existing users of `jsonapi-serializer` in our Rails v7 project, and create `*Serializer` objects in `app/serializers`. Is that the same for Alba resources?

Also, is this path configurable? Asking this coz what if we wanna use both Alba and `jsonapi-serializer` in our Rails project.

[2022-05-12 08:39] okuramasafumi commented on #205
@kapso Actually you can put any class including Alba's resource class to `app/serializers` folder. Note that you must set a file name corresponding to the class name. For example, `UserResource` class must be put as `app/serializers/user_resource.rb` or `app/resources/user_resource.rb` or whatever folder you want.

You should be able to mix Alba and other libraries without any problem.

[2022-05-12 08:39] #205 closed

[2022-05-12 17:13] kapso commented on #205
@okuramasafumi thanks for the quick response, and this gem.

[2022-05-30 17:42] jcmfernandes opened #207 "Inconsistentcy between `#serialize` (aka `#to_json`) and `#serializable_hash` (aka `#as_json`)"
Hi! First of all, thank you for putting this project together! :trophy:

I'm working on a Rails project, and I stumbled across the fact that `#as_json` doesn't consider root keys. This stops me me from writing

[code]

in my controllers. This forces me to render a text/raw payload and take care of the content-type header. More importantly, it breaks the expectation that `JSON.generate(obj.as_json)

[2022-06-01 17:58] okuramasafumi commented on #207
@jcmfernandes Alba doesn't implement `as_json` itself.
Rails expects the object given to `render json:` responds to `to_json`. It's documented https://guides.rubyonrails.org/layouts_and_rendering.html#rendering-json
It's possible to implement `as_json` to get `JSON.generate(obj.as_json) == obj.to_json`.

[2022-06-09 06:48] okuramasafumi commented on #207
@jcmfernandes Do you still have a problem? If so, I'd like to help you resolve it. Otherwise, I'll close it within a few days.

[2022-06-11 14:25] #207 closed

[2022-06-21 08:06] frsyuki opened #210 "Automatic serializer class lookup for Rails?"
## Is your feature request related to a problem? Please describe.

We have following code in a controller of our Rails application:

[code]

`Node#real_node` method is a polymorphic association like this:

[code]

Because elements of the rendered array dynamically change at runtime, I can't determine serializer class statically.

## Describe the solution you'd like

To overcome the problem, I adde

[2022-06-24 00:29] frsyuki commented on #210
@okuramasafumi Thank you for updates!

ActiveModelSerializers overrides `render json: ...` but It's totally OK to use a new symbol such as `render alba_json: ...`.

I wasn't aware of it but it looks great. Here I have another uncovered use case:

[code]

At `HERE` in above code, what is a suggested resource/serializer class we should use?

[2022-06-24 01:56] okuramasafumi commented on #210
OK, I'll add a configuration that allows to override default `render json:`.

For the case you mention, you can skip `resource` option and Alba will infer resource for that association as well.

If you have complex logic for polymorphic association in your app, I think using a `Proc` for `resource` option might be neat. It's currently NOT possible since not implemented yet.
The code will look like

[2022-06-28 01:50] ima2251 opened #212 "Compatibility with zeitwerk"
## Describe the bug
When I write certain code, I get an error in zeitwerk:check.

[code]

## To Reproduce

reproduction code
https://github.com/ima2251/alba-zeitwerk-issue

## Expected behavior
No error in zeitwerk:check.

## Actual behavior

## Environment
- Please check my repository.

## Additional context

Random error when deploying to Heroku.Sometimes it deploys successfully, sometimes it fa

[2022-06-28 17:01] okuramasafumi commented on #212
@ima2251
In your case, `CommentParentResource` inherits from `CommentResource`, and `CommentResource` refers to `CommentParentResource`. This causes circular dependencies.
This problem might be resolved by making reference a String. So it looks like:

[code]

I confirmed that `zeitwerk:check` passes with this. Could you confirm that this works for you?

[2022-06-28 21:53] ima2251 commented on #212
@okuramasafumi
It works fine!
Thank you.

[2022-06-28 21:53] #212 closed

[2022-06-29 07:31] frsyuki commented on #210
That sounds like a good idea!

[2022-07-13 06:02] frsyuki commented on #210
Considering polymorphic association, I think it's unavoidable performance impact.
We have only a few polymorphic `many` associations and thus it's acceptable.

[2022-07-14 13:49] #210 closed

[2022-07-14 15:52] #107 closed

[2022-07-16 16:07] okuramasafumi commented on #89
https://github.com/okuramasafumi/alba/commit/a01cc99166181e08b6545ddda41a1f6f823848a4 describes how to add logging functionality to Alba. I couldn't find a simple way to enable custom logging in Alba, so I'm closing it now.
If you find any way to find it, please let me know!

[2022-07-16 16:07] #89 closed

[2022-07-18 02:05] frsyuki commented on #210
Great! Thank you!!

[2022-07-20 17:37] lukaspili opened #216 "Change/Override params in associations"
Would it be possible to allow something like this?

[code]

Thanks!

[2022-07-20 17:41] okuramasafumi commented on #216
@lukaspili Hi, it's currently not possible but if there're some usecases I'd like to support it.
Could you share your usecase? For example, what kind of JSON output you want with given object?

[2022-07-20 17:48] lukaspili commented on #216
Thanks for the quick reply!
My concrete use case is that I want to expose different attributes depending on permissions.
This is simple example with one nesting, but I have some use cases where the `scope` params is passed down to several nested associations.

[code]

[2022-07-20 18:08] okuramasafumi commented on #216
One way to achieve this goal would be to use inheritance, for example:

[code]

`AnonUserJson` is a customized version of `UserJson` that rejects some attributes.

[2022-07-22 14:42] okuramasafumi commented on #216
True. Would you implement this feature on your own? If you will I can help.
If not, then don't worry, I'll implement it.

[2022-07-27 02:27] trevorturk opened #220 "Deep transform_keys for inline associations"
## Is your feature request related to a problem? Please describe.

I'd like to have an option for `transform_keys` to work down through inline associations. Currently, you need to repeat `transform_keys` within each association block.

## Additional context

Here's a code example based on the README which demonstrates the issue:

[code]

Note the commented-out `transform_keys` macro, which, when u

[2022-07-28 13:24] okuramasafumi commented on #220
@trevorturk I came up with the following code:

[code]

Here, `cascade: true` option has an effect to enable the same key transformation in inline associations.
I also thought `true` is unclear about what it actually does, so maybe `cascade: :inline` is better so that in the future we can add `cascade: :all` to override existing key transformation settings.

[2022-07-28 18:46] trevorturk commented on #220
That makes sense to me. I was thinking perhaps `deep_transform_keys` as an option, but I like your idea of `cascade: :inline`. Perhaps if we see `transform_keys` in an inline associations, we accept that as an override, so then `cascade: true` would be fine, knowing it could be overridden.

Thank you for your consideration to this!

[2022-07-29 04:00] trevorturk commented on #220
Today I was wondering if it would be worth making `cascade` the default behavior, so we wouldn't need any options. Although that may be considered a breaking change. I was surprised it didn't cascade, so arguably we could call it a bug fix?

In any case, I don't mind whatever the solution is, and frankly the current functionality is fine, just some minor cruft when defining a resource.

Anyway, th

[2022-07-29 09:07] okuramasafumi commented on #220
Making cascade default seems reasonable to me. Yes, it's a breaking change, so we need to offer a `cascade: false` option for old behavior.
Unfortunately it's hard to produce deprecation warnings in this case, so we need to mention it in the document (`CHANGELOG.md`).

[2022-08-02 21:00] okuramasafumi commented on #104
Hi everyone in this thread, I found it pretty hard to implement this feature.
I create a "help wanted" discussion in #217 so if you really want to add JSON:API feature please share it with your friends so that we can achieve the goal more quickly.

[2022-08-23 13:49] lukaspili commented on #216
Sorry - I won't have time to tackle it. Thanks in advance if you do it, but if not I understand!

[2022-08-30 13:29] okuramasafumi commented on #216
Hi @lukaspili , at #227 I've implemented this feature. I added some descriptions to README so please could you check it and see if it's good for you?

[2022-09-11 10:48] #216 closed

[2022-09-14 02:08] lukaspili commented on #216
Hi @okuramasafumi sorry for the late reply. It looks good :) Thank you!

[2022-09-15 16:08] jrochkind opened #234 "Can't get root_key to work (without inference)"
## Describe the bug
:root_key does not seem to be doing what I expect, I can't get it to have an effect. I am _not_ using inference, but still expect to be able to specify a root key manually.

## To Reproduce
[code]

## Expected behavior
I expected there to be a root key in the output, like

[code]

## Actual behavior
There is no root key  in the output, just `{:name=>"joe"}`. The `root_key` seem

[2022-09-15 16:14] okuramasafumi commented on #234
@jrochkind Sorry for the confusion, but `serializable_hash` doesn't get any effect of `root_key`. You can still get a hash with root key by `JSON.parse(TestSerializer.new( MyThing.new(name: "joe") ).serialize`.

I know it's confusing, so at least I'll add some note to README. Probably I'd like to add options to make `serializable_hash` work like `serialize`.

So please keep this issue open until I

[2022-09-15 16:20] jrochkind commented on #234
Oh, I see. That was unexpected!

It would be very convenient to be able to get exactly the same data structure as a ruby hash pre-serialization as I would get serialized, whether that's with the `serializable_hash` method or a different method -- in general I expected `serializable_hash` and `serialize` would produce equivalent output, just one a ruby hash and one serialized to json), and I'm not

[2022-09-15 16:34] okuramasafumi opened #235 "[Doc] README should have some more info about filtering attributes"
### Discussed in https://github.com/okuramasafumi/alba/discussions/231

<div type='discussions-op-text'>

<sup>Originally posted by **jrochkind** September 15, 2022</sup>
The [README section on "conditional attributes"](https://github.com/okuramasafumi/alba#conditional-attributes) says:

and

But the link on  "filtering attributes section" doesn't work, I can't find a "filtering attributes" sectio

[2022-09-16 01:26] #220 closed

[2022-09-16 02:53] okuramasafumi commented on #234
It's confusing because `serializable_hash` has two purposes: internal usage for generating final JSON output and exposed interface for getting hash representation.
We should probably split them into two separate methods, one for internal and one for external.

[2022-10-02 04:21] okuramasafumi commented on #234
@jrochkind Hi, I'm addressing this issue by #241
Could you check out README of the PR and see if the behavior is what you want?

[2022-10-03 14:24] okuramasafumi commented on #235
Closed by bbac0447a00e9eec58e203e7e2c4ac53b0393ed4

[2022-10-03 14:24] #235 closed

[2022-10-03 14:25] okuramasafumi commented on #234
@jrochkind Thank you for your suggestion. We can maybe add an option `as: :hash` to `serialize` method.

[2022-10-05 10:19] okuramasafumi commented on #234
I also came up with `serialized_hash`, but the name is little confusing.

[2022-10-05 19:37] ManuelCostanzo opened #243 "Dynamic filter"
Hi! Thanks for the project.

I would like to ask if there is a way to include/exclude attributes via params, for example something like this:

`UserResource.new(user, exclude: {[:id]})`,

should return the json without the "ID".

Thank you!

[2022-10-06 09:52] okuramasafumi commented on #234
@trevorturk Without considering backward compatibility, it's relatively easy to change the behavior of `to_h` and `serializable_hash`. We can change the behavior of `to_h` only so that `to_h` works like `serialize`, and keep the behavior of `serializable_hash` as is.
The difficulty here is to let people that use `to_h` and `serializable_hash` interchangeably to use them correctly. Although the nex

[2022-10-06 10:20] okuramasafumi commented on #243
@ManuelCostanzo It's not possible to exclude ad hoc attributes. However, you can do so by normal `params`.

[code]

The reason why Alba doesn't support ad hoc exclude is that we want to make it easy to predict output by just looking at the resource class. In this example, although we need to add explicit `if` option for exclude logic, it's easy to know in some places `id` will be actually excluded

[2022-10-06 10:48] ManuelCostanzo commented on #243
Thank you very much. That make sense!

[2022-10-06 10:48] #243 closed

[2022-10-06 11:09] ManuelCostanzo opened #244 "Question about render :json"
Hi! I have another question related with render :json in rails controller.

Is there a way to automatically serialize with alba using render? If not, what is the recommended way to use alba in a rails controller.

Thank you!

[2022-10-06 11:32] #244 closed

[2022-10-06 12:45] jrochkind commented on #234
Changing the behavior of one of #to_h or #serializable_hash to match #serialize doesn't outwardly seem to me to create a difficult migration path, you can just change what method you call if the other is still available?

Although it may be harder if there is intermediate software calling one of those methods as a standard interface... do we know if that's going on?  #serializable_hash seems maybe

[2022-10-06 14:21] okuramasafumi commented on #244
Ah sorry now I got what you want. Yes it works with AMS, but to make it work it hacks ActionController like this:
https://github.com/rails-api/active_model_serializers/blob/0-10-stable/lib/action_controller/serialization.rb

I'm not sure if it deserves this 70 lines of code. After all, we can call `UserSerializer#new` as you do and everything works.

[2022-10-06 15:54] trevorturk commented on #234
Ah, yeah, that might be a nice approach. FWIW I had a PR with Rails recently where I added a breaking change and plugged into their `load_defaults` system: https://github.com/trevorturk/rails/blob/0ae0ab7e3ff040e1b04c600944ba4f643954760a/railties/lib/rails/application/configuration.rb#L85-L89

This is probably much too complex for Alba, but it might be worth considering having a set of defaults pe

[2022-10-08 09:24] okuramasafumi commented on #234
@trevorturk Now I change https://github.com/okuramasafumi/alba/pull/241 to include root key by default. We can turn if off by wither adding `root_key: false` or defining `default_root_key` method to return `false`. I didn't add global flag for this since I'd like to reduce the number of global flags and go toward more OOP style like this.

[2022-10-08 13:52] trevorturk commented on #234
Thank you for this! I'd like to have a closer look to provide feedback, because I was a bit confused with the README changes, and I want to have a better understanding.

[2022-10-08 14:40] okuramasafumi commented on #234
@trevorturk I'm sorry, please submit a PR to improve README if you could!

[2022-10-08 15:57] trevorturk commented on #234
Ok, I was able to spend some time with this, and I worked up a PR #247 which I hope may help clarify the documentation, and also describes where I became confused and suggests considering an additional change. Please take all of this with a grain of salt, as I'm not sure I'm entirely correct in my thinking, but I hope the PR may be helpful in any case!

[2022-10-09 12:44] okuramasafumi commented on #234
I also think now that `as_json` is available for Alba.
https://api.rubyonrails.org/classes/ActiveModel/Serializers/JSON.html#method-i-as_json
`to_json` and `as_json` should behave similarly, so we can keep `serializable_hash` and `to_h` implementation as is and implement new behavior in `as_json`.

[2022-10-10 16:53] jrochkind commented on #234
#as_json will return a Hash with the same contents as #serialize? That seems like a great  solution to me, awesome, thank you!

[2022-10-10 16:54] #234 closed

[2022-10-10 17:37] trevorturk commented on #234
One caveat is that you may still consider if to_h and to_json being different may be confusing, but that would be a breaking change.

[2022-10-14 01:51] Masaokb opened #250 "Let `to_json` receive an optional argument to adjust it to the implicit call of `to_json` in Rails render method"
## Is your feature request related to a problem? Please describe.

When I simply pass Alba resource object to render method  in Rails6,
[code]
But this raises `ArgumentError` coz Rails implicit call of `to_json` pass an argument(options) while `to_json` of Alba does NOT.

https://github.com/rails/rails/blob/main/actionpack/lib/action_controller/metal/renderers.rb#L156

## Describe the solution you

[2022-10-14 04:36] okuramasafumi commented on #250
@Masaokb Thank you for reporting. It seems `to_json` called by Rails takes only one `options` argument. There's no documentation for `to_json` but I guess it takes the same as `as_json` method described [here](https://api.rubyonrails.org/classes/ActiveModel/Serializers/JSON.html#method-i-as_json).
Alba doesn't accept options such as `only`, so we should just ignore all options.
One possible soluti

[2022-10-14 09:12] Masaokb commented on #250
Great!
An unreferenced parameter may be a bit confusing, but at least it seems good to me.

[2022-10-14 12:22] okuramasafumi commented on #250
@Masaokb I addressed the issue and added some documentation in #252 , does it look good?

[2022-10-18 09:56] nyrf opened #255 "Cascade key transformation seems not work for custom attribute"
## Describe the bug

## To Reproduce

[code]

## Expected behavior
[code]

## Actual behavior

[code]

## Environment
- Ruby version:  3.1.2

[2022-10-18 10:34] okuramasafumi commented on #255
@nyrf That's because `attribute` returns arbitrary object so it doesn't make sense to transform keys only when it returns Hash.
However, when we use `nested_attribute` DSL key transformation still doesn't work and it seems a bug.

[code]

I'll fix it.

[2022-10-18 12:38] nyrf commented on #255
Thanks, i'll try it later.

[2022-10-19 06:42] #255 closed

[2022-10-19 06:43] okuramasafumi commented on #255
@nyrf I've fix it so you can use `nested_attribute` with version 2.0 after it's released (soon).

[2022-10-19 08:37] Masaokb commented on #250
@okuramasafumi LGTM. Sorry for late reply!

[2022-10-19 11:10] nyrf commented on #255
Thanks for your great work.

[2022-10-24 20:29] trevorturk opened #260 "Cascade key transformation only cascades for one level"
## Describe the bug
Apologies for not testing this myself sooner, but I think we have a bug left over from #220, where `transform_keys` only cascades for one level.

## To Reproduce
Given the following code sample, note that the `articles` array has the `createdAt` key, but the `comments` array has the `created_at` key, which has not been transformed:

[code]

[2022-10-25 06:53] firstpromoter opened #261 "Stack level too deep"
## Describe the bug
Getting "Stack level too deep" if I add nested relationship.
## To Reproduce
[code]

[code]

controller:
`render json: AccountSerializer.new(accounts)`

## Expected behavior
To just render one level deep relationship and exit. Ideally we should be able how deep it can go like AMS allows.

## Actual behavior
I guess it tries to re-render everything one inside another.

## Enviro

[2022-10-25 13:48] okuramasafumi commented on #261
@firstpromoter https://github.com/okuramasafumi/alba#circular-associations-control does this help?

[2022-10-25 13:49] okuramasafumi commented on #260
@trevorturk Thank you for reporting, I'll take a look.

[2022-10-25 14:11] firstpromoter commented on #261
I haven't tried it, but that error shouldn't happen in the first place in my opinion. The "within" option forces us to pass nesting logic to each controller action which is not great. I think by default it should just render once and stop.

[2022-10-25 16:08] okuramasafumi commented on #261
I know what you mean, but if Alba stops at 1 level by default, it needs to remember nesting level, which I don't want to do.
I can suggest another solution that uses `if` option and abuses filtering feature.

[code]

In this code, `AccountSerializer` has a "side effect" when adds `user` association. It increments `nesting_level` params and we can check it in `UserSerializer` to control nesting lev

[2022-10-25 16:10] firstpromoter commented on #261
Thanks. That's a solution but not ideal. If we're about to use "within" in controller, how would this work? Or is there any easier solution than counting nesting level?

[2022-10-25 16:19] okuramasafumi commented on #261
[code]

This should work, however, in version 2, it includes `accounts: null` instead of not having `accounts` key.
This seems a bug so I'll fix it soon.

[2022-10-30 12:39] okuramasafumi commented on #260
@trevorturk #263 was a solution, but it was hard to debug. I described the problem and solution in the PR description so please check it if you're interested.
In short, there's an implicit requirement that `transform_keys` should be called before `attributes`. This might not be a problem for daily development, but in this case it's a trick issue.

[2022-10-30 15:28] trevorturk commented on #260
Ack! Sorry the fix was so difficult, but I did test your PR/branch in my app and everything works as expected! Thank you so much! I have a lot of nested attributes, so this removes a lot of repeated `transform_keys` keys calls and my resources look much skinnier now :)

[2022-10-31 11:07] #260 closed

[2022-11-05 08:37] subaru-hello opened #267 "It might have forget to add `with:` argument before `:active_support` in the README"
I guess it is more of a typing error than a bug report about [README](https://github.com/okuramasafumi/alba/blob/main/docs/rails.md#initializer).

## Describe the bug
When I started rails process, it arose below errors  after putting `alba.rb` file on the config/initializers directory.
[code]
I guess the README described at [here](https://github.com/okuramasafumi/alba/blob/main/docs/rails.md#initi

[2022-11-05 09:27] okuramasafumi commented on #267
Ooops you're right, @subaru-hello

Could you send a PR that adds a missing "with" to the doc?

[2022-11-05 09:39] subaru-hello commented on #267
@okuramasafumi
I'm glad for that.
Sure!

[2022-11-08 13:36] okuramasafumi commented on #261
@firstpromoter Does `within` work for you? If so' I'll close this issue. If not, I'll try to find other solutions.

[2022-11-17 09:52] danielmalaton opened #275 "When Alba.inferring is false, either resource or block is required"
## Describe the bug
Include module which `extend ActiveSupport::Concern` and it use `included` will raise **Alba.inferring is false, either resource or block is required**

## To Reproduce
In my serializer:
[code]
In XYZSerializerHelper module:
[code]

## Expected behavior
It works normally

## Actual behavior
When Alba.inferring is false, either resource or block is required

## Environment
- Rub

[2022-11-17 10:17] danielmalaton commented on #275
Update: Follow this guide to add configuration to backend.

[2022-11-17 13:18] okuramasafumi commented on #275
@danielmalaton Did you add `Alba.enable_inference!(with: :active_support)` in your Rails initializer?

[2022-11-17 13:19] danielmalaton commented on #275
Okay tysm. It works.

[2022-11-17 15:20] danielmalaton commented on #275
But atm, it raise Wrong constant name at `one :auto_preload` in
[code]
Do you have any idea for it? @okuramasafumi

[2022-11-17 15:23] okuramasafumi commented on #275
What do you mean by "wrong"? Could you provide a concrete example?

[2022-11-18 01:08] okuramasafumi commented on #275
Ah I see. It's not `one` that you should use here. You can use `attributes` here instead of `one`.
You can check the document [here](https://github.com/okuramasafumi/alba#simple-serialization-with-root-key).

[2022-11-18 01:09] okuramasafumi commented on #261
I'm closing this due to no response. Feel free to reopen if it still occurs.

[2022-11-18 01:09] #261 closed

[2022-11-18 01:42] danielmalaton commented on #275
Okay. It works normally know.

[2022-11-18 01:42] #275 closed

[2022-11-23 13:23] danielmalaton opened #277 "Define custom attribute with `def`"
## Describe the bug
Define custom attribute with [`def` method](https://github.com/okuramasafumi/alba#simple-serialization-with-root-key) which method's name is the same as one of the models will return unexpectedly.

## To Reproduce
Suppose in `schema.rb` has table `a` and table `b`. **`a` belongs to `b`**
In class `AResource`
[code]

## Expected behavior
When serializing an AResource object, it

[2022-11-23 14:18] okuramasafumi commented on #277
@danielmalaton What do you want to achieve by defining a method with the same name as an existing attribute? In this case, why would you want to return `true` with the same name as an association?

Alba first tries to fetch attribute from a given object, and if it cannot find it then tries to find a method defined in a resource.
I think your temporal solution would be fine with some comments. If y

[2022-11-23 14:35] danielmalaton commented on #277
Updated: Entity `a` must belong to entity `b`.

I tried to define custom attributes called `b` in `AResource`. But if I go with `attribute`, it will throw [Sorbet](https://github.com/chanzuckerberg/sorbet-rails) error: Method `params` does not exist on `T.class_of(AResource)` (fix available)[7003](https://srb.help/7003)
[code]
Then I decide to go with `def` to define the custom attributes. But in

[2022-11-23 15:49] okuramasafumi commented on #277
Alba doesn't support Sorbet. Solve your problem on your own (or simply ignore it).

If `a` and `b` both are something like `ActiveRecord::Base` object, you should use `association` (or its alias, `one`, for example) to serialize `b` and embed the result in `a`.

[2022-11-24 01:18] #277 closed

[2022-11-29 20:44] alejandroperea opened #279 "Support proc in one associations"
Maybe I'm doing something wrong, I'll try to explain the case. Imagine that we have:

[code]

Then, in the serializer I would like to have:

[code]

But this is not working. Deeping a little bit into the code, I've found this method:

[code]

So, if the resource is a Proc (this is the case) it is also expecting that the object is Enumerable, not calling the proc because is going to the `else` exec

[2022-11-30 06:09] okuramasafumi commented on #279
@alejandroperea Thank you for the report. You're not wrong, this is my mistake and I'll fix this bug soon.

[2022-11-30 17:45] alejandroperea commented on #279
Thanks @okuramasafumi !

I've opened a couple of PRs, for helping a little bit:

https://github.com/okuramasafumi/alba/pull/280
https://github.com/okuramasafumi/alba/pull/281